<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ScienceSoft_AuthorsAdminUi::authors" title="Samples" sortOrder="10">
                    <resource id="ScienceSoft_AuthorsAdminUi::sample_grid" title="Grid" sortOrder="100"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
