<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <author_page>
            <title>
                <display_text>Information about author</display_text>
            </title>
        </author_page>
    </default>
</config>
